extends layout
block content
  .container-fluid
    .row
      .col-xs-12
        #sign-up-head
          h1 Striv4
          p What is your goal?
          #mock-goal
            span(id='cursor')
              | |
          p Let's create a 90 day plan to get you there!
          if choice ==='sign-up'
            -var action = '/signUp'
            -var buttonText = 'Sign Up'
            -var buttonClass ='sign-up'
          else
            -var action = '/signIn'
            -var buttonText = 'Sign In'
            -var buttonClass = 'sign-in'
        form(method='post' action = action id='register-form')
          ul(id='form-choice')
            if choice === 'sign-up'
              li(id='sign-up-choice' class='selected')
                | Sign Up
              li(id='sign-in-choice')
                | Sign In
            else
              li(id='sign-up-choice')
                | Sign Up
              li(id='sign-in-choice' class='selected')
                | Sign In
          div(class='error' id='all-error')
          div(class='error' id='username-error')
          label(for='username' id='username-label')
            | Username
          input(type='input' id='username' name='username' placeholder='Enter a username')
          if choice === 'sign-up'
            div(class='error' id='email-error')
            label(for='useremail' id='useremail-label')
              | Email
            input(type='input' id='useremail' name='useremail' placeholder='Enter your email')
          div(class='error' id='password-error')
          label(for='password' id='password-label')
            | Password
          input(type='password' id='password' name='password' placeholder='Enter a password min(5 chars)')
          if choice === 'sign-up'
            div(class='error' id='password-confirm-error')
            label(for='password-confirm' id='password-confirm-label')
              | Confirm Password
            input(type='password' id='password-confirm' name='passwordconfirmation' placeholder='Confirm Password')
          //honey pot
          p(class='favorite-food')
            | What is your favorite food?
          input(class='favorite-food' name='favoriteFood' id='favoriteFood' placeholder='leave blank')
          button(id='register' class= buttonClass type='submit')
            | #{buttonText}
  script(src='/js/register.js')
